#display_priority {
    position: absolute;
    display: flex;
    margin-top: -15px;
    font-size: var(--small-txt);
}

#input_priority {
    width: 320px;
}

.a_unstyled {
    all: unset;
    color: var(--link_color);
    cursor: pointer;
}

.a_unstyled:hover {
    all: unset;
    color: var(--link_color);
    cursor: pointer;
}