.a_unstyled {
    all: unset;
    color: var(--link_color);
    cursor: pointer;
}

.a_unstyled:hover {
    all: unset;
    color: var(--link_color);
    cursor: pointer;
}

#error_progress {
    position: relative;
    display: inline;
}

#display_priority {
    position: absolute;
    display: flex;
    margin-top: -15px;
    font-size: var(--small-txt);
}

@media (max-width: 900px) {
    .field {
        max-width: 380px;
    }
}

@media (max-width: 600px) {
    .field {
        max-width: 250px;
    }
}