#error_progress {
    position: relative;
    display: inline;
}

#display_priority {
    position: absolute;
    display: flex;
    margin-top: -15px;
}

@media (max-width: 900px) {
    .field {
        max-width: 380px;
    }
}

@media (max-width: 600px) {
    .field {
        max-width: 250px;
    }
}
