.button_image {
    width: 80px;
    height: 80px;
}

#content {
    width: 800px;
}

.todo_line {
    width: 100%;
    height: fit-content;
}

.header_todo {
    text-align: left;
}

.title_todo {
    margin-top: 7px;
    float: left;
    margin-left: 15px;
    width: 55%;
    display: inline-block;
    word-break: break-word;
    color: var(--important_color);
}

.content_todo {
    margin-top: -30px;
    margin-left: 30px;
    word-break: break-word;
    line-height: 1em;
    text-align: left;
    font-size: var(--mini-txt);
    color: var(--value_color);
}

.date_todo {
    color: var(--value_color);
    font-size: var(--litle-txt);
    margin-top: 10px;
    float: left;
}

.longer {
    width: 92%;
}

.priority_todo {
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 7px;
}

.legend {
    margin-bottom: 10px;
}

.pic {
    float: left;
    width: 35px;
    height: 35px;
}

.progress_todo {
    float: right;
}

.label_todo {
    font-size: var(--mini-txt);
    text-decoration: wavy underline;
    margin-top: -20px;
    margin-bottom: 0;
}

.late {
    color: var(--max);
}

.archive {
    color: var(--value_color);
}

.done {
    color: var(--ok_color);
}

.in_progress {
    color: var(--important_color);
}

@media (max-width: 700px) {
    .title_todo {
        font-size: var(--mini-txt);
        width: 70%;
    }
}

@media (max-width: 900px) {
    #content {
        width: fit-content;
    }
}
