.button_image {
    width: 80px;
    height: 80px;
}

#content {
    width: 800px;
}

.todo_line {
    width: 100%;
    height: fit-content;
}

.header_todo {
    text-align: left;
}

.title_todo {
    margin-left: 15px;
    margin-top: 1px;
    width: 55%;
    display: inline-block;
    word-break: break-word;
}

.content_todo {
    word-break: break-word;
    text-align: left;
}

.date_todo {
    color: var(--value_color);
    font-size: var(--litle-txt);
    margin-top: 5px;
    float: left;
}

.longer {
    width: 92%;
}

.priority_todo {
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 7px;
}

.legend {
    margin-bottom: 10px;
}

.pic {
    float: left;
    width: 35px;
    height: 35px;
}

.progress_todo {
    float: right;
}

@media (max-width: 700px) {
    .title_todo {
        font-size: var(--mini-txt);
    }
}

@media (max-width: 900px) {
    #content {
        width: fit-content;
    }
}