.datepicker {
    background: var(--background_secondary);
    color: var(--text-color);
    box-shadow: var(--shadow);
}

.datepicker table tr td.disabled {
    color: var(--background_nav_el);
}

.datepicker table tr td.day:hover {
    background: var(--background_first);
}

.datepicker table tr td.focused.day {
    background: var(--background_first);
}

.datepicker table tr td.disabled:hover {
    color: var(--background_nav_el);
}

.datepicker table tr td.active.day {
    background: var(--link);
    color: var(--text-color);
}

.datepicker table tr td.active.day:hover {
    background: var(--link_hover);
}

.datepicker table tr td.new.day {
    color: var(--value_color);
}

.datepicker table tr td.old.day {
    color: var(--value_color);
}

.datepicker-days table thead tr th.prev:hover {
    background: var(--background_first);
    color: var(--text-color);
}

.datepicker-days table thead tr th.next:hover {
    background: var(--background_first);
    color: var(--text-color);
}

.datepicker-days table thead tr th.datepicker-switch:hover {
    background: var(--background_first);
    color: var(--text-color);
}

.nav_bar_member li a:hover {
    text-decoration: none;
}
