.datepicker {
    background: var(--background_secondary);
    color: var(--text-color);
    box-shadow: var(--shadow);
}

.datepicker table tr td.disabled {
    color: var(--background_nav_el);
}

.datepicker table tr td.day:hover {
    background: var(--background_first);
}

.datepicker table tr td.focused.day {
    background: var(--background_first);
}

.datepicker table tr td.disabled:hover {
    color: var(--background_nav_el);
}

.datepicker table tr td.active.day {
    background: var(--primary_color);
    color: var(--text-color);
}

.datepicker table tr td.active.day:hover {
    background: var(--background_nav);
}

.datepicker table tr td.new.day {
    color: var(--link_secondary_color);
}

.datepicker table tr td.old.day {
    color: var(--link_secondary_color);
}

.datepicker-months table tbody span.month:hover {
    background: var(--background_first);
}

.datepicker-months table tbody span.month.focused.active {
    background: var(--primary_color);
}

.datepicker-months table tbody span.month.focused.active:hover {
    background: var(--background_nav);
}

.datepicker-years table tbody span.year:hover {
    background: var(--background_first);
}

.datepicker-years table tbody span.year.focused.active {
    background: var(--primary_color);
}

.datepicker-years table tbody span.year.focused.active:hover {
    background: var(--background_nav);
}