.submit {
    padding: 10px;
}

.submit:hover {
    cursor: pointer;
}

.error_form {
    position: absolute;
    display: flex;
    color: var(--red);
    font-size: 18px;
}

.form_ok input {
    border-color: var(--fg-green);
}

.form_err input {
    border-color: var(--red);
}

.separator {
    height: 10px;
}