table {
    border-collapse: collapse;
    box-shadow: 0 0 20px var(--bg-dark);
    margin: 0 auto;
    border-radius: 7px;
}

td {
    padding: 12px 15px;
}

.message {
    margin: 20px auto 0;
    border-radius: 7px;
    font-size: 25px;
    box-shadow: 0 0 20px var(--bg-dark);
    padding: 10px;
    width: fit-content;
    text-align: center;
}

#display_red {
    color: var(--red);
    border: 1px solid var(--red);
}

#display_green {
    color: var(--fg-green);
    border: 1px solid var(--fg-green);
}

#close_button {
    border: none;
    background: transparent;
}

#close_button:hover {
    cursor: pointer;
}

#litle_close {
    width: 24px;
    height: 24px;
    background: var(--bg-light);
    border: none;
}

input {
    font-size: 25px;
    box-shadow: 0 0 20px var(--bg-dark);
    background: var(--bg-light);
    color: var(--text-color);
    border-radius: 7px;
}

form {
    margin-top: 20px;
}

input:hover {
    color: var(--fg-green);
    border-color: var(--fg-green);
}

#submit {
    padding: 10px;
}

#submit_red {
    padding: 10px;
    border-color: var(--red);
}

#submit:hover {
    cursor: pointer;
}

#submit_red:hover {
    cursor: pointer;
    color: var(--red);
}

a {
    color: var(--blue);
}