.separator {
    height: 10px;
}


.form_err input {
    border-radius: 7px;
    border: 2px inset var(--error_color);
}

.form_ok input {
    border-radius: 7px;
    border: 2px inset var(--ok_color);
}

.form_err span {
    position: absolute;
    display: flex;
    color: var(--error_color);
    font-size: var(--mini-txt);
}

.mid {
    display: none;
}

select#input_mode{
    cursor: pointer;
    background: none;
    color: var(--text-color);
    box-shadow: var(--shadow);
    border-radius: 7px;
    padding: 5px;
    font-size: var(--medium-txt);
}

select#input_mode option{
    color: var(--text-color);
    background: var(--background_first);
    font-size: var(--mini-txt);
}


@media (max-width: 610px) {
    .field_short {
        max-width: 240px;
    }

    .field {
        max-width: 275px;
    }
}
