.separator {
    height: 10px;
}


.form_err input {
    border-radius: 14px;
    border: 2px inset var(--error_color);
}

.form_ok input {
    border-radius: 14px;
    border: 2px inset var(--ok_color);
}

.form_err span {
    position: absolute;
    display: flex;
    color: var(--error_color);
    font-size: var(--mini-txt);
}

.mid {
    display: none;
}

@media (max-width: 610px) {
    .field_short {
        max-width: 240px;
    }

    .field {
        max-width: 275px;
    }
}