:root {
    --background: #242423;
    --background_transp: #24242390;
    --background_transp_high: #242423b0;
    --background_secondary: #333533;
    --primary_color: #04AA6D;
    --text-color: #232324;
    --secondary_color: #d26839;
    --error_color: crimson;
    --link_color: #407899;
    --link_secondary_color: #73877B;
    --background_nav: #242423b0;

    --mini-txt: 19px;
    --small-txt: 24px;
    --medium-txt: 30px;
    --large-txt: 36px;
    --big-txt: 48px;
}

body {
    #background:
            linear-gradient(to top, rgba(36, 36, 35, 0.9), rgba(4, 170, 109, 0.25)),
            linear-gradient(to bottom, rgba(36, 36, 35, 0.85), rgba(4, 170, 109, 0.25)),
            linear-gradient(to right, rgba(36, 36, 35, 0.4), rgba(4, 170, 109, 0.66)),
            linear-gradient(to right, rgba(36, 36, 35, 0.4), rgba(4, 170, 109, 0.66));

    #background:
            linear-gradient(to top, rgba(223, 199, 165, 0.9), rgba(223, 199, 165, 0.25)),
            linear-gradient(to bottom, rgba(223, 199, 165, 0.85), rgba(223, 199, 165, 0.25)),
            linear-gradient(to right, rgba(223, 199, 165, 0.4), rgba(223, 199, 165, 0.66)),
            linear-gradient(to right, rgba(223, 199, 165, 0.4), rgba(223, 199, 165, 0.66));

    #background: #534D41;
    #background: #E4BB97;
    #background: #546A76;
    #background: #C3BAAA;
    #background: #E3C5BB;
    #background: #E3C5BB;

    #background:
            linear-gradient(to left, #A4B0FF, #FCA78A);

    background:
            linear-gradient(to left, rgba(164, 176, 255, 0.6), rgba(252, 167, 138, 0.45)),
            linear-gradient(to right, rgba(164, 176, 255, 0.45), rgba(252, 167, 138, 0.7)),
            linear-gradient(to bottom, rgba(164, 176, 255, 0.6), rgba(252, 167, 138, 0.45)),
            linear-gradient(to top, rgba(164, 176, 255, 0.45), rgba(252, 167, 138, 0.7));

    background-attachment: fixed;
    background-size: cover;
}

#content {
    width: fit-content;
    text-align: center;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 15px;
    #background: var(--background_transp);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    padding: 12px 15px;
}

.td_header {
    border: none;
    font-size: var(--medium-txt);
    color: var(--primary_color);
}

.message {
    font-size: var(--medium-txt);
    width: fit-content;
    text-align: center;
}

a {
    color: var(--link_color);
}

#display_red {
    margin-top: 15px;
    color: var(--error_color);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--error_color);
    background: var(--background_transp_high);
}

#display_green {
    margin-top: 15px;
    color: var(--primary_color);
    padding: 10px;
    border-radius: 10px;
    border: 1px inset var(--primary_color);
    background: var(--background_transp_high);
}

#close_button {
    border: none;
    position: absolute;
    top: 70px;
    font-size: var(--large-txt);
    left: 50%;
    transform: translateX(-50%);

}

#close_button:hover {
    cursor: pointer;
}

#litle_close {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
}

#message {
    visibility: hidden;
}

input {
    font-size: var(--medium-txt);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: none;
    color: var(--text-color);
    border-radius: 7px;
}


#submit {
    padding: 10px;
}

#submit:hover {
    cursor: pointer;
}

#submit_red {
    padding: 10px;
    border-color: var(--error_color);
}

#submit_red:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    #content {
        width: 100%;
    }
}