#title {
    color: var(--secondary_color);
}

#container_data {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container_data div {
    margin-left: 30px;
    margin-right: 30px;
    color: var(--link_secondary_color);
    font-size: var(--small-txt);
}

#container_data h5 {
    font-size: var(--large-txt);
    color: var(--text-color);
}

#container_option {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container_option div h4 {
    margin-bottom: 15px;
    font-size: var(--large-txt);
}

#container_option div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
}

.opt_div {
    border-radius: 14px;
    width: fit-content;
    font-size: var(--small-txt);
}

@media (max-width: 760px) {
    #container_data {
        flex-direction: column;
    }

    #container_data div {
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    #container_option {
        flex-direction: column;
    }

    #container_option div {
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
}