.edit {
    color: var(--grey);
}

.submit_red {
    padding: 10px;
    border-color: var(--red);
}

.submit_red:hover {
    cursor: pointer;
}

#content {
    text-align: unset;
    margin: unset;
    background: none;
}

#container_button {
    display: flex;
    width: available;
    justify-content: center;
}

#user_container {
    width: fit-content;
    text-align: center;
    margin-left: 35px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    background: var(--bg-dark-transp);
}

.container {
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    background: var(--bg-dark-transp);
}

#username {
    margin-top: 15px;
    font-size: 40px;
    margin-bottom: 15px;
}

.img_align {
    vertical-align: middle;
}

.email {
    margin-top: 40px;
    border: 1px solid var(--red);
    box-shadow: 0 0 20px var(--bg-dark);
    font-size: 18px;
    border-radius: 7px;
    padding: 10px;
    text-align: left;
}

.email input {
    font-size: 18px;
}

#submit_code {
    background: var(--bg-dark-transp);
    padding: 5px;
    margin: 10px 20%;
    width: 60%;
    border-radius: 7px;
    border: 1px inset var(--text-color);
    text-align: center;
}

@media (max-width: 600px) {
    #user_container {
        width: 100%;
        margin: 0;
    }
}