{% extends "common" %}
{% block content %}
<link rel="stylesheet" href="/static/css/errors.css">

<h1>Error 401: Refused</h1>
<h3> The action: <b>{{uri}}</b> is not allowed </h3>

{% endblock content %}
