{% extends "common" %}
{% block content %}
<link rel="stylesheet" href="/static/css/errors.css">

<h1>Error 403: Forbidden</h1>
<h3> You can't use : <b>{{uri}}</b> if your not login </h3>
<a href="/account/login">Log here</a> <br>
<a href="/account/register">Don't have a account ?</a>

{% endblock content %}