
#form_display {
    width: fit-content;
    padding: 10px;
}

#form_mode {
    width: fit-content;
    padding: 10px;
}

.inactive {
    display: none;
}

.selected_title {
    padding: 10px;
    border-radius: 7px;
}


.not_selected {
    padding: 10px;
    border-radius: 7px;
}

.long_txt {
    text-align: left;
    word-break: break-word;
}
