.edit_img {
    width: 50px;
    height: 50px;
    margin-left: -30px;
    border-radius: 20px;
}

.edit_img:hover {
    cursor: pointer;
}

.profile_pic {
    border-radius: 40px;
}

.profile_pic:hover {
    cursor: pointer;
}
.sub_picture {
    margin-left: 20px;
}

.value {
    color: var(--grey);
}

.txt {
    font-size: 20px;
}

#button_email:hover {
    cursor: pointer;
}

#button_pswd:hover {
    cursor: pointer;
}

#password_container {
    margin: 5px auto 0;
}

#email_container {
    margin: 5px auto;
}

#form_password {
    border: 1px inset var(--grey);
    border-radius: 14px;
}

#form_email {
    border: 1px inset var(--grey);
    border-radius: 14px;
}

.inactive {
    display: none;
}

.selected_title {
    border: none;
    border-bottom: 1px solid var(--orange);
    background: red;
    font-size: 30px;
    color: var(--blue);
    #background: var(--bg-dark-transp);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent;
    padding: 10px;
    border-radius: 7px;
}

.selected_title:hover {
    cursor: pointer;
}

.not_selected {
    font-size: 30px;
    border: none;
    color: var(--blue);
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    #background: var(--bg-dark-transp);
    padding: 10px;
    border-radius: 7px;
}

.not_selected:hover {
    cursor: pointer;
}