#users_container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.remove_picture {
    cursor: pointer;
    position: fixed;
    display: flex;
    margin-top: -20px;
    margin-left: -12px;
    width: 35px;
    height: 35px;
}

.remove_user {
    cursor: pointer;
    margin-top: -25px;
}


.img_align {
    vertical-align: middle;
}