.edit_img {
    width: 50px;
    height: 50px;
    margin-left: -30px;
    margin-top: 170px;
    border-radius: 20px;
}


.sub_picture {
    margin-left: 20px;
}


#password_container {
    margin: 5px auto 0;
}

#email_container {
    margin: 5px auto 0;
}

.container_remove_pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove_picture {
    position: absolute;
    margin-top: 55px;
    margin-right: 180px;
    width: 50px;
    height: 50px;
}

.save_change_btn {
    margin: 0 auto;
    width: fit-content;
}

#form_password {
    border-radius: 14px;
    width: fit-content;
    padding: 10px;
}

#form_email {
    width: fit-content;
    border-radius: 14px;
    padding: 10px;
}
