#child_div {
    width: 100%;
}

#content {
    width: 100%;
}


.container_button {
    display: flex;
    width: available;
    justify-content: center;
}

#user_container {
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 20px;
}

#todo_container p {
    line-height: 0.7em;
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
}

#todo_container p {
    text-align: left;
}

#todo_container h3 {
    text-align: center;
}

.container {
    box-shadow: var(--shadow);
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
}

.img_align {
    vertical-align: middle;
}

.email {
    border-radius: 7px;
    padding: 10px;
    text-align: left;
}

.email form {
    font-size: var(--mini-txt);
}

#submit_code {
    padding: 3px;
    width: 60%;
    border-radius: 7px;
    text-align: center;
}

#send_new {
    padding: 3px;
    border-radius: 7px;
    text-align: center;
}

.handler_container {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.button_image {
    vertical-align: middle;
    margin-top: -10px;
    width: 90px;
    height: 90px;
}

@media (max-width: 1000px) {
    #todo_container {
        width: 500px;
    }
}

@media (max-width: 850px) {
    #todo_container {
        width: 370px;
    }
}

@media (max-width: 700px) {
    #user_container {
        width: 100%;
        margin: 0;
    }

    #todo_container {
        width: 100%;
        margin: 0;
    }

}