.edit_img {
    width: 50px;
    height: 50px;
    margin-left: -30px;
    border-radius: 20px;
}

.edit_img:hover {
    cursor: pointer;
}

.profile_pic {
    border-radius: 40px;
}

.profile_pic:hover {
    cursor: pointer;
}
.sub_picture {
    margin-left: 20px;
}

.value {
    color: var(--link_secondary_color);
}

.txt {
    font-size: var(--medium-txt);
}

#button_email:hover {
    cursor: pointer;
}

#button_pswd:hover {
    cursor: pointer;
}

#password_container {
    margin: 5px auto 0;
}

#email_container {
    margin: 5px auto 0;
}

.container_remove_pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove_picture {
    position: absolute;
    margin-top: 45px;
    margin-right: 200px;
    width: 50px;
    height: 50px;
}

.save_change_btn {
    margin: 0 auto;
    width: fit-content;
}

.remove_picture:hover {
    cursor: pointer;
}

#form_password {
    border: 1px inset var(--link_secondary_color);
    border-radius: 14px;
    width: fit-content;
    padding: 10px;
}

#form_email {
    border: 1px inset var(--link_secondary_color);
    width: fit-content;
    border-radius: 14px;
    padding: 10px;
}

.inactive {
    display: none;
}

.selected_title {
    border: none;
    border-bottom: 2px solid var(--primary_color);
    font-size: var(--large-txt);
    color: var(--link_color);
    box-shadow: var(--shadow);
    background: transparent;
    padding: 10px;
    border-radius: 7px;
}

.selected_title:hover {
    cursor: pointer;
}

.not_selected {
    font-size: var(--large-txt);
    border: none;
    color: var(--link_color);
    background: transparent;
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 7px;
}

.not_selected:hover {
    cursor: pointer;
}

.hide {
    position: absolute;
    visibility: hidden;
}
