.edit {
    color: var(--link_secondary_color);
}

.submit_red {
    padding: 10px;
    border-color: var(--error_color);
}

.submit_red:hover {
    cursor: pointer;
}

#content {
    text-align: unset;
    margin: unset;
    background: none;
    box-shadow: none;
}

#container_button {
    display: flex;
    width: available;
    justify-content: center;
}


#user_container {
    float: left;
    flex-direction: unset;
    width: fit-content;
    text-align: center;
    margin-left: 35px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    margin-bottom: 40px;
}

#todo_container {
    float: left;
    margin-left: 50px;
    text-align: left;
    background: none;
    width: fit-content;
    height: fit-content;
    box-shadow: var(--shadow);
}

.container {
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    background: var(--background_transp);
}

#username {
    margin-top: 25px;
    font-size: var(--big-txt);
}

.img_align {
    vertical-align: middle;
}

.email {
    margin-top: 40px;
    border: 1px solid var(--error_color);
    box-shadow: var(--shadow);
    font-size: var(--mini-txt);
    border-radius: 7px;
    padding: 10px;
    text-align: left;
}

.email input {
    font-size: var(--mini-txt);
}

#submit_code {
    #background: var(--background_transp);
    padding: 5px;
    margin: 10px 20%;
    width: 60%;
    border-radius: 7px;
    text-align: center;
}


@media (max-width: 700px) {
    #user_container {
        width: 100%;
        margin: 0;
    }

    #todo_container {
        margin: 0;
    }


}