#users_container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.remove_picture {
    width: 35px;
    height: 35px;
}

table tr td {
    border: 1px solid var(--background);
}

.td_header {
    background: var(--background);
}

.img_align {
    vertical-align: middle;
}